.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--med);
  height: 150px;
}

.footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .socials object {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  padding: 10px;
  width: 20px;
}
.footer .socials .tiktok object {
  width: 25px;
}

.footer .site-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.footer .site-links a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

.footer .watermark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: bottom;
  font-size: 0.6rem;
}

.footer .watermark a,
.footer .watermark p {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 10px 5px;
}
