.banner-images {
  background-color: var(--med);
  height: 300px;
}

/* add background image of house */

.banner-images img {
  position: relative;
  top: 0;
  left: 0;
  width: 35vw;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.banner-images .hammer-logo img {
  width: 8vw;
  z-index: 1;
  margin-top: -5vw;
}

.socials {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}
.socials object {
  display: flex;
  padding: 5px;
  width: 25px;
}

.banner-images img {
  color: white;
}
