.header {
  height: 450px;
}

.header .banner-images {
  background-color: var(--med);
}

.header .banner-images {
  background-image: url(../images/house-transparent.PNG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 300px;
  background-blend-mode: lighten;
}

.header .banner-images img {
  position: relative;
  top: 0;
  left: 0;
  width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
}

.header .socials {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .socials object {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  padding: 10px;
  width: 30px;
}
.header .socials .tiktok object{
 width: 37px;
}

@media screen and (max-width: 800px) {
  .header .banner-images {
    background-image: none;
  }
  
  .header .banner-images img {
    width: 100%;
    height: auto;
  }
  .header .socials object {
    /* width: 20px; */
    height: auto;
  }
  
}
