.banner-images {
  background-color: var(--med);
}

/* add background image of house */

.banner-images img {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.banner-images .hammer-logo img {
  width: 15%;
  z-index: 1;
  margin-top: -150px;
}

.socials {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}
.socials object {
  display: flex;
  padding: 5px;
  width: 25px;
}
